body {
  margin: 0;
}

.container {
  min-height: 100vh;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}
.hero > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 1.25rem 2rem;
  background-color: #ff933c;
}
.hero > div > p {
  font-size: 36px;
  margin: 0px;
  color: white;
  font-family: 'Montserrat-Black';
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 13rem 2rem 13rem;
}
.introduction > h2 {
  text-align: center;
  color: #373737;
  font-size: 28px;
  font-family: 'Montserrat-SemiBold';
  text-transform: uppercase;
}
.introduction > .separator {
  align-self: center;
  height: 4px;
  width: 25%;
  margin: 0px 0px 2rem 0px;
  background-color: #373737;
}
.introduction > p {
  text-align: center;
  color: #373737;
  font-size: 16px;
  font-family: 'Montserrat-Regular';
}

.reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33vh;
  background-color: #f2f2f2;
}
.reservation > button {
  padding: 1.25rem 2.25rem;
  background-color: #ffaf6f;
  border: 0px;
  border-radius: 4px;
  font-size: 22px;
  cursor: pointer;
  color: white;
  font-family: 'Montserrat-Regular';
}

.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 13rem 2rem 13rem;
}
.events > h2 {
  text-align: center;
  color: #373737;
  font-size: 28px;
  font-family: 'Montserrat-SemiBold';
  text-transform: uppercase;
}
.events > .separator {
  align-self: center;
  height: 4px;
  width: 25%;
  margin: 0px 0px 2rem 0px;
  background-color: #373737;
}
.events > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5rem 0px;
}
.events > div > img {
  height: 22vw;
  width: 22vw;
  object-fit: cover;
}
.events > div > .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 3rem;
}
.events > div > .text > h3 {
  margin: 0px;
  margin-bottom: 1.5rem;
  font-family: 'Montserrat-SemiBold';
  font-size: 22px;
}
.events > div > .text > p {
  margin: 0px;
  font-size: 18px;
  font-family: 'Montserrat-Regular';
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.75rem 13rem 0.75rem 13rem;
  background-color: #121212;
}
.footer > p {
  margin: 0px;
  color: white;
}
.footer > a {
  color: white;
  cursor: pointer;
}
